:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}
body {
  margin: 0%;
}

::-webkit-scrollbar {
  display: none;
}
a{
  text-decoration: none;
}
.main-container {
  position: relative;
  width: 1920px;
  height: 1705px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.flex-row {
  position: relative;
  width: 1920px;
  height: 267px;
  margin: 0 0 0 0;
  font-size: 0px;
  z-index: 37;
  overflow: visible auto;
}
.contact-us {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 298px;
  height: 60px;
  margin: 133px 0 0 811px;
  color: #ffffff;
  font-family: Outfit, var(--default-font-family);
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  white-space: nowrap;
  z-index: 23;
}
.rectangle {
  position: absolute;
  width: 1920px;
  height: 267px;
  top: 0;
  left: 0;
  background: rgba(45, 0, 76, 0.88);
  opacity: 0.8;
  z-index: 22;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.ab {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24.72%;
  top: 8.24%;
  left: calc(50% - -543px);
  color: #ffffff;
  font-family: Outfit, var(--default-font-family);
  font-size: 32px;
  font-weight: 300;
  line-height: 66px;
  text-align: left;
  white-space: nowrap;
  z-index: 37;
  text-shadow: 0 4px 10.9px rgba(0, 0, 0, 0.25);
}
.prof_oval{
  position: absolute;  /* Allows precise positioning */
  left: 1494px;  /* X position */
  top: 25px;  /* Y position */
  width: 60px;  /* Set width */
  height: 60px;  /* Set height */
  border: 2px solid white;  /* White outline */
  border-radius: 50%;  /* Creates oval shape */
  background: none;  /* No background */
  z-index: 9999;
}
.rectangle-1 {
  position: absolute;
  width: 197.1px;
  height: 49px;
  top: 31px;
  left: 230px;
  background: #b6d1de;
  z-index: 32;
  border-radius: 35px;
}
.plane-logo {
  position: absolute;
  width: 48.777px;
  height: 49px;
  top: 0;
  left: -1px;
  background: url('../images/logo.png')
    no-repeat center;
  background-size: cover;
  z-index: 34;
  border-radius: 36px;
}
.flight-match {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 57.14%;
  top: 20.41%;
  left: 24.2%;
  color: #000000;
  font-family: Nunito Sans, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 27.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 33;
}
.contact-2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 10.49%;
  top: 14.98%;
  left: 51.91%;
  color: #ffffff;
  font-family: Outfit, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 27.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 28;
  transition: letter-spacing 0.3s ease, color 0.2s ease;
  }
  .contact-2:hover {
    letter-spacing: 2px; /* Expands text */
    color: #c2c2c2;; /* Changes color */
  }

  /* Click Animation */
  .contact-2:active {
    transform: scale(0.98);
    color: #000000;
  }
.home {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 10.49%;
  top: 15.36%;
  left: 36.2%;
  color: #ffffff;
  font-family: Outfit, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 27.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 27;
  transition: letter-spacing 0.3s ease, color 0.2s ease;
  }
  .home:hover {
    letter-spacing: 2px; /* Expands text */
    color: #c2c2c2; /* Changes color */
  }

  /* Click Animation */
  .home:active {
    transform: scale(0.98);
    color: #000000;
  }
.about {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 10.49%;
  top: 15.36%;
  left: 43.99%;
  color: #ffffff;
  font-family: Outfit, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 27.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 29;
  transition: letter-spacing 0.3s ease, color 0.2s ease;
  }
  .about:hover {
    letter-spacing: 2px; /* Expands text */
    color: #c2c2c2;; /* Changes color */
  }

  /* Click Animation */
  .about:active {
    transform: scale(0.98);
    color: #000000;
  }
.log-out {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 10.49%;
  top: 15.36%;
  left: 60.61%;
  color: #ffffff;
  font-family: Outfit, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 27.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 30;
  transition: letter-spacing 0.3s ease, color 0.2s ease;
  }
  .log-out:hover {
    letter-spacing: 2px; /* Expands text */
    color: #c2c2c2;; /* Changes color */
  }

  /* Click Animation */
  .log-out:active {
    transform: scale(0.98);
    color: #000000;
  }
.rectangle-3 {
  position: relative;
  width: 1065px;
  height: 1019px;
  margin: 53px 0 0 428px;
  font-size: 0px;
  background: #ffffff;
  z-index: 9;
  overflow: visible auto;
  box-shadow: 0 4px 30.8px 0 rgba(0, 0, 0, 0.25);
}
.we-love-hear {
  display: block;
  position: relative;
  height: 30px;
  margin: 69px 0 0 66px;
  color: #000000;
  font-family: Outfit, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 10;
}
.value-feedback {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 930px;
  height: 50px;
  margin: 12px 0 0 66px;
  color: #000000;
  font-family: Outfit, var(--default-font-family);
  font-size: 20px;
  font-weight: 200;
  line-height: 25.2px;
  text-align: left;
  z-index: 13;
}
.get-touch {
  display: block;
  position: relative;
  height: 30px;
  margin: 53px 0 0 66px;
  color: #000000;
  font-family: Outfit, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 12;
}
.here-for-you {
  display: block;
  position: relative;
  height: 30px;
  margin: 615px 0 0 66px;
  color: #000000;
  font-family: Outfit, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 11;
}
.seamless-travel-planning {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 930px;
  height: 50px;
  margin: 12px 0 0 66px;
  color: #000000;
  font-family: Outfit, var(--default-font-family);
  font-size: 20px;
  font-weight: 200;
  line-height: 25.2px;
  text-align: left;
  z-index: 14;
}
.contact-info {
  position: absolute;
  width: 930px;
  height: 550px;
  top: 256px;
  left: 66px;
  font-family: Outfit, var(--default-font-family);
  font-size: 20px;
  font-weight: 200;
  line-height: 25.2px;
  text-align: left;
  z-index: 15;
}
.feedback-and-assistance {
  position: relative;
  color: #000000;
  font-family: Outfit, var(--default-font-family);
  font-size: 20px;
  font-weight: 200;
  line-height: 25.2px;
  text-align: left;
}
.email {
  position: relative;
  color: #000000;
  font-family: Outfit, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 25.2px;
  text-align: left;
}
.feedback-and-assistance-4 {
  position: relative;
  color: #000000;
  font-family: Outfit, var(--default-font-family);
  font-size: 20px;
  font-weight: 200;
  line-height: 25.2px;
  text-align: left;
}
.email-5 {
  position: relative;
  color: #000000;
  font-family: Outfit, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 25.2px;
  text-align: left;
}
.feedback-and-assistance-6 {
  position: relative;
  color: #000000;
  font-family: Outfit, var(--default-font-family);
  font-size: 20px;
  font-weight: 200;
  line-height: 25.2px;
  text-align: left;
}
.email-7 {
  position: relative;
  color: #000000;
  font-family: Outfit, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 25.2px;
  text-align: left;
}
.stay-connected {
  position: relative;
  color: #000000;
  font-family: Outfit, var(--default-font-family);
  font-size: 20px;
  font-weight: 200;
  line-height: 25.2px;
  text-align: left;
}
.mail {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 383px;
  left: 66px;
  background: url(./assets/images/25e933eb-bba9-48b2-b1e2-18a378162561.png)
    no-repeat center;
  background-size: cover;
  z-index: 19;
  overflow: hidden;
}
.call {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 482px;
  left: 66px;
  background: url(./assets/images/59456976-8840-45c5-9b73-b858a4e937eb.png)
    no-repeat center;
  background-size: cover;
  z-index: 20;
}
.facebook {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 630px;
  left: 66px;
  background: url(./assets/images/094d7ad0-fb1e-4d0f-821b-980fdb8a3f6e.png)
    no-repeat center;
  background-size: cover;
  z-index: 21;
  overflow: hidden;
}
.x-logo {
  position: absolute;
  width: 23.98px;
  height: 24px;
  top: 680px;
  left: 66px;
  background: url(./assets/images/e53b3208-72b4-481b-8563-dc250b534a71.png)
    no-repeat center;
  background-size: cover;
  z-index: 18;
}
.logo-instagram {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 731px;
  left: 66px;
  background: url(./assets/images/ff8aee3a-7823-4a1b-b6b3-ca0c48893d90.png)
    no-repeat center;
  background-size: cover;
  z-index: 16;
  overflow: hidden;
}
.linked-in {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 781px;
  left: 66px;
  background: url(./assets/images/612a4ccf-5035-40a5-92a1-9f1f601b414c.png)
    no-repeat center;
  background-size: cover;
  z-index: 17;
  overflow: hidden;
}
.flex-row-cd {
  position: relative;
  width: 933px;
  height: 40px;
  margin: 43px 0 0 250px;
  z-index: 7;
}
.flight-match-8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 40px;
  top: 0;
  left: 0;
  color: #000000;
  font-family: Righteous, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 39.734px;
  text-align: left;
  white-space: nowrap;
  z-index: 1;
}
.quick-links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 4px;
  left: 462px;
  color: #000000;
  font-family: Outfit, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 5;
}
.legal {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 4px;
  left: 642px;
  color: #000000;
  font-family: Outfit, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 6;
}
.contact-us-9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 4px;
  left: 854px;
  color: #000000;
  font-family: Outfit, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 7;
}
.flex-row-d {
  position: relative;
  width: 491.334px;
  height: 124px;
  margin: 0 0 0 712.333px;
  z-index: 4;
}
.flex-row-d a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #000000; /* Gold underline */
  bottom: -3px;
  left: 50%;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  transform: translateX(-50%);
}

.flex-row-d a:hover {
  color: #5b2c91; /* Gold color on hover */
  transform: translateY(-2px); /* Slight lift effect */
  text-shadow: 0 0 8px rgb(255, 255, 255); /* Soft glow */
}

/* Click effect */
.flex-row-d a:active {
  transform: scale(0.95); /* Slight press-down effect */
}
.home-about-search-flights {
  display: block;
  position: absolute;
  width: 136px;
  height: 75%;
  top: 0;
  left: 0;
  color: #000000;
  font-family: Outfit, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 31px;
  text-align: left;
  text-overflow: initial;
  z-index: 2;
  overflow: hidden;
}
.home-about-search-flights a{
  color:#000000;
}
.regroup {
  position: absolute;
  width: 63.37%;
  height: 100%;
  top: 0;
  left: 36.63%;
  z-index: 4;
}
.privacy-policy-terms {
  display: block;
  position: absolute;
  width: 181.333px;
  height: 50%;
  top: 0;
  left: 0;
  color: #000000;
  font-family: Outfit, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 31px;
  text-align: left;
  text-overflow: initial;
  z-index: 3;
  overflow: hidden;
}
.privacy-policy-terms a{
  color: #000000;
}
.email-linkedin-instagram {
  display: block;
  position: absolute;
  width: 98.667px;
  height: 100%;
  top: 0;
  left: 68.31%;
  color: #000000;
  font-family: Outfit, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 31px;
  text-align: left;
  text-overflow: initial;
  z-index: 4;
  overflow: hidden;
}
.email-linkedin-instagram a{
  color: #000000;
}
.all-rights-reserved {
  display: block;
  position: relative;
  height: 31px;
  margin: 128px 0 0 776px;
  color: #000000;
  font-family: Rounded Mplus 1c, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 31px;
  text-align: left;
  white-space: nowrap;
  z-index: 8;
}
.rectangle-a {
  position: absolute;
  width: 1920px;
  height: 180px;
  top: 0;
  left: 0;
  background: url(./assets/images/55d0ba63-c7ec-4ab2-875e-69a02d52d52f.png)
    no-repeat center;
  background-size: cover;
  z-index: 25;
}
